.youtube-iframe {
    position: absolute;
    width: 200%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border: none;
}

@media (max-width: 768px) {
    .youtube-iframe {
        width: 450%;
    }
}

.marquee-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 40s linear infinite;
    animation-play-state: running;
    will-change: transform;
}

.marquee-content:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}